$font-main: 'Roboto';
$font-secondary: 'Lato';

$graphite: #3b3b3b;
$gray: #f7f7f7;
$gray2:#ececec;
$green: #27ae60;
$brand-primary: #4183D7;
$brand-primary-2: #6BB9F0;
$brand-success: #71dea0;
$brand-info:    #52B3D9;
$brand-warning: #F5AB35;
$brand-danger:  #EC644B;