.widget-insurance{
	background-size: cover;
	text-align: center;
	color: #ffffff;
	padding: 15px;

	.title{
		margin-top: 0;
	}
	p{
		color: #fff;
    font-size: 15px;
    margin: 2rem 0 2rem 0;
	}
	a{
		color: white;
		&:hover{
			color: white;
		}
	}
}