.widget{
	margin: 1rem 0;
	&:first-child{
		margin: 0 0 1rem 0;
	}

	.title{
		font-weight: bold;
	}

	a{
		color: $graphite;
		&:hover{
			color: $brand-primary;
		}
	}

	ul{
		padding-left: 15px;
	}
}