.blog{
	background: url("../img/blog-bg.jpg") top left;
	
	.item{
		margin-bottom: 15px;	
		padding: 0 15px 15px 15px;
		.row{
			box-shadow: -1px 1px 1px $graphite;
		}
		.image-feature{
			padding: 0;
		}
		
		.text-feature{
			padding: 15px;
			background-color: #ffffff;
			height: 140px;
		}

		.title{
			margin: 0px 0 10px 0;
		}
		img{
			max-width: 100%;
			width: 100%;
			height: 140px;
		}
		a{
			color: $graphite;
			&:hover{
				h4, p, span{
					text-decoration: underline;
				}
				text-decoration: underline;
			}
		}
		.excerpt{
			line-height: 1.3;
		}
	}

	iframe{
		width: 100% !important;
		padding: 0 5px;
	}
	.epyt-gallery-list {
	  margin: 60px 0 20px 0;
	}
	.epyt-pagination{
		display: none;
	}

	.epyt-gallery-thumb{
		padding: 5px;
	}
	hr{
		border-color: transparent;
	}
	.epyt-gallery-title{
		font-size: 16px;
    font-weight: bold;
    color: #000;
	}

	&.featured{
		padding: 2rem 0 6rem 0;
		.title{
			margin: 3rem 0 4rem 0;
		}
		.item{
			padding: 0 30px 15px 30px;
			.title{
				margin: 1rem 0 2rem 0;
			}
			.row{
				box-shadow: 0px 1px 1px $graphite;
			}
			.text-feature{
				padding: 15px;
				background-color: #ffffff;
				height: 100%;
			}
			img{
				height: 100%;
			}
		}
	}

	&.post{
		background: transparent;
		img{
			width: 100%;
	    height: auto;
	    max-height: 250px;
		}
		hr{
			border-color: $gray2;
		}
	}
}

@media (max-width: 768px){
	.blog{
		.item{
			.text-feature{
				height: auto;
			}
		}
	}
}