.btn-warning{
	background-color: $brand-warning;
}

.btn-hollow{
	&.btn-default{
		color: #ffffff;
		background-color: transparent;
		border: 2px solid #ffffff;
		&:hover{
			color: #000000;
			background-color: #ffffff;
		}
	}
}

.btn-flat{
	font-family: Lato;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0)
}