.contact{
  p{
  	margin-bottom: 5px;
  	font-weight: 400;
  	span{
  		font-weight: bold;
  		vertical-align: middle;
  		margin-right: 5px;
  		font-size: 1.5rem;
  	}
  }
  iframe{
  	margin-top: 2rem;
  }
  h3{
  	margin: 0 0 20px 0;
  }
}