.faq{
	.panel-group {
		.panel{
			border: none;
			box-shadow: none;
			background-color: transparent;
		}
	}
	
	.panel-collapse{
		background: #fff;
    margin: 0 20px;
	}

	.panel-default .panel-heading, .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group{
		background-color: transparent;
		border: none;
	}

	.panel-title{
		font-size: 18px;
    font-weight: 700;
    color: $brand-primary;
    a{
    	[class^="icon-"]{
    		display: inline-block;
    		transform: rotate(-90deg);
    		transition: 0.2s ease-in;
    	}	
    	&.collapsed{
    		[class^="icon-"]{
	    		transform: rotate(-180deg);
	    	}    		
    	}
    }
	}
	
	.panel-group .panel + .panel {
		margin-top: 15px;
	}

	.panel-body{
		font-size: 16px;
    line-height: 1.6;
    padding: 15px;
    margin-top: 5px;
	}	
}