.footer{
	background-color: $brand-primary;
	color: #ffffff;

	.logo{
		margin-bottom: 2rem;
	}

	p{
		color: #ffffff;
		font-size: 1.5rem;
	}

	span{
		color: #ffffff;
		margin-right: 1rem;
  	font-weight: bold;
  	vertical-align: middle;
	}
	a{
		color: #fff;
		&:hover{
			color: #fff;
			text-decoration: underline;
		}
	}
}