form{
	&.cotacao{
		margin: 30px 0 100px 0;
		label{
			font-size: 1.5rem;
			small{
				display: inline-block;
				font-weight: normal;
			}
		}
		.form-group{
			margin-bottom: 30px;
		}
		p{
			font-size: 1.5rem;
		}
		legend{
			padding-bottom: 10px;
			margin: 0;
	    border: none;
	    font-size: 1.8rem;
	    font-weight: bold;
		}
		.tab-content{
			margin-top: 20px;
		}
		iframe{
			border: none;
		}

		&.auto{
			margin-bottom: 0px;
		}
	}

	.form-subgroup{
		background-color: $gray2;
		.arrow{
			position: absolute;
	    left: 50%;
	    top: -20px;
	    border-left: 15px solid rgba(0, 0, 0, 0);
	    border-right: 15px solid rgba(0, 0, 0, 0);
	    border-bottom: 20px solid $gray2;
		}
		fieldset{
			padding: 15px;
			border-bottom: 2px solid #fff;
		}
		.form-group{
			margin-bottom: 0;
			.form-group{
				margin-bottom: 30px;
			}
		}
	}
	.form-control{
		color: #000000;
	}
}