.page-insurance{
	background-color: $brand-primary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	height: 500px;

	.container{
		position: relative;
		padding: 10% 0;
	}

  .icon-chevron{
    color: #fff;
    font-size: 5rem;
    position: absolute;
    bottom: 20px;
    left: 47.7%;
    transform: rotate(-90deg);
    border-radius: 100px;
    padding: 5px;

    &.animated{
    	animation-duration: 2.5s;
    }
	}
}


.page-insurance-header{
	.title{
		font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
	}
	.description{
		font-weight: 500;
		line-height: 1.3;
		color: #ffffff;
	}
}

.feature-image{
	img{
		width: 250px;
		&.brightness{
			-webkit-filter: brightness(2);
			filter: brightness(2);
		}
	}	
}

.page-insurance-quickly{
	img{
		width: 175px;
		margin-bottom: 2rem;
	}
}

@-webkit-keyframes slideInDownCustom {
  from {
    -webkit-transform: translate3d(0, -100%, 0) rotate(-90deg);
    transform: translate3d(0, -100%, 0) rotate(-90deg);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(-90deg);
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}

@keyframes slideInDownCustom {
  from {
    -webkit-transform: translate3d(0, -100%, 0) rotate(-90deg);
    transform: translate3d(0, -100%, 0) rotate(-90deg);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(-90deg);
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}

.slideInDownCustom {
  -webkit-animation-name: slideInDownCustom;
  animation-name: slideInDownCustom;
}