.nav.nav-tabs.steps{
	border: none;
	li{
		border: none;
		text-align: center;
		a{
			display: inline-block;
	    border-radius: 100px;
	    background: #ffffff;
	    padding: 10px 17px;
	    color: $graphite;
	    font-weight: bold;
	    font-size: 1.5rem;
	    border: 3px solid $brand-success;
	    &:hover{
	    	background: $green;
	    	border: 3px solid $green;
    		color: #fff;
	    }
		}
		&.active, &.ok{
			a{
				display: inline-block;
		    border-radius: 100px;
		    background: $green;
		    padding: 10px 17px;
		    color: #fff;
		    font-weight: bold;
		    font-size: 1.5rem;
		    border: 3px solid $green;
			}
		}
		&::after{
			content: "";
	    display: inline-block;
	    width: 100%;
	    height: 10px;
	    position: absolute;
	    background: $brand-success;
	    left: 0;
	    top: 40%;
	    z-index: -1;
		}
	}
}