.testimonial{
	background: url("../img/depoimentos-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	.item{
		padding: 0 30px;
		img{
			width: 120px;
			height: 120px;
			display: inline-block;
			margin-top: 2rem;
		}
		p{
			font-size: 1.6rem;
			margin-bottom: 0rem;
		}
		.title{
			font-size: 16px;
			margin: 1rem 0 0 0;
		}
		.subtitle{
			padding: 0;
    	font-size: 1.4rem;
    	margin: 0;
		}
	}
	.slick-dots li button:before{
		font-size: 12px;
	}
	.slick-prev:before, .slick-next:before{
		font-size: 30px;
	}
}