.why{
	img{
		vertical-align: middle;
		width: 130px;
		padding-top: 3rem;
		position: relative;
	}
	h3{
		margin: 3rem 0 2rem 0;
		font-size: 26px;
	}
	.item{
		padding: 0 40px;
    margin-bottom: 0;
	}
}

@media (max-width: 768px){
	.why{
		img{
			width: 100px;
			padding: 0;
		}
		h3{
			margin: 0;
		}
	}
}