div.wpcf7 {
	p{
		position: relative;
	}
	img.ajax-loader{
    position: absolute;
    top: -16px;
  }
}

div.wpcf7-mail-sent-ok{
  border: none;
  background: $green;
  color: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
}