.wrapper{
	padding: 70px 0 60px 0;
	
	&.carousel{
		padding: 15px;
	}
	&.success{
		background: $brand-success;
	}
	&.primary-2{
		background: $brand-primary-2;
	}
	&.primary{
		background: $brand-primary;
	}
	&.default{
		background: $gray2;
	}
	
	.title{
		font-weight: 700;
		margin: 0 0 40px;
	}
	.subtitle{
		font-weight: 400;
		padding: 2rem 0;
	}
	p{
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1.6;
	}
}